#1. Trabajo previo del dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns; sns.set()

DATASET_PATH = "dataset"

In [2]:
#inv_sets = pd.read_csv(DATASET_PATH + "/inventory_sets.csv")
#inv_sets.shape

In [3]:
inv = pd.read_csv(DATASET_PATH + "/inventories.csv")
inv.shape

(11681, 3)

In [4]:
inv_part = pd.read_csv(DATASET_PATH + "/inventory_parts.csv")
#inv_part.head(10)
colors = pd.read_csv(DATASET_PATH + "/colors.csv")
colors.rename(columns = {'id':'color_id'}, inplace = True)

ip_c = inv_part.merge(colors, on='color_id', how='left')
ip_c.rename(columns = {'inventory_id':'id'}, inplace = True)
ip_c.shape
#inv_part_colors.head()

(580251, 8)

In [5]:
ip_c_i = ip_c.merge(inv, on='id', how='left')
ip_c_i.shape
#parts[pd.isna(parts['part_cat_id'])]

(580251, 10)

In [6]:
#part_cat = pd.read_csv(DATASET_PATH + "/part_categories.csv")
#part_cat.rename(columns = {'id':'part_cat_id'}, inplace = True)
#part_cat.head()

In [7]:
#parts_part_cat = parts.merge(part_cat, on='part_cat_id', how='outer')
# Junto parts con parts-categories
#parts_part_cat.shape

In [8]:
sets = pd.read_csv(DATASET_PATH + "/sets.csv")

themes = pd.read_csv(DATASET_PATH + "/themes.csv")
themes.rename(columns = {'id':'theme_id'}, inplace = True)

s_t = sets.merge(themes, on='theme_id', how='left')
s_t.rename(columns = {'name_x':'set_name','name_y':'theme_name'}, inplace = True)

s_t.head()

,set_num,set_name,year,theme_id,num_parts,theme_name,parent_id
0,00-1,Weetabix Castle,1970,414,471,Castle,411.0
1,0011-2,Town Mini-Figures,1978,84,12,Supplemental,67.0
2,0011-3,Castle 2 for 1 Bonus Offer,1987,199,2,Lion Knights,186.0
3,0012-1,Space Mini-Figures,1979,143,12,Supplemental,126.0
4,0013-1,Space Mini-Figures,1979,143,12,Supplemental,126.0

In [9]:
#sets_themes.isna()

In [10]:
#inv_sets_themes['year'].isna().sum()

In [11]:
df =ip_c_i.merge(s_t, on='set_num', how='left')
df.shape

(580251, 16)

In [12]:
df.isna().sum()

id                 0
part_num           0
color_id           0
quantity           0
is_spare           0
name               0
rgb                0
is_trans           0
version            0
set_num            0
set_name           0
year               0
theme_id           0
num_parts          0
theme_name         0
parent_id     207693
dtype: int64

In [13]:
df.head()

,id,part_num,color_id,quantity,is_spare,name,rgb,is_trans,version,set_num,set_name,year,theme_id,num_parts,theme_name,parent_id
0,1,48379c01,72,1,f,Dark Bluish Gray,6C6E68,f,1,7922-1,McDonald's Sports Set Number 6 - Orange Vest S...,2004,460,4,Gravity Games,458.0
1,1,48395,7,1,f,Light Gray,9BA19D,f,1,7922-1,McDonald's Sports Set Number 6 - Orange Vest S...,2004,460,4,Gravity Games,458.0
2,1,mcsport6,25,1,f,Orange,FE8A18,f,1,7922-1,McDonald's Sports Set Number 6 - Orange Vest S...,2004,460,4,Gravity Games,458.0
3,1,paddle,0,1,f,Black,05131D,f,1,7922-1,McDonald's Sports Set Number 6 - Orange Vest S...,2004,460,4,Gravity Games,458.0
4,3,11816pr0005,78,1,f,Light Flesh,F6D7B3,f,1,3931-1,Emma's Splash Pool,2012,494,43,Friends,NaN

In [15]:
df.groupby('rgb')