### 1. Trabajo previo del dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns; sns.set()

DATASET_PATH = "dataset"

In [2]:
#inv_sets = pd.read_csv(DATASET_PATH + "/inventory_sets.csv")
#inv_sets.shape

In [35]:
inv = pd.read_csv(DATASET_PATH + "/inventories.csv")
inv.shape
inv.set_num.nunique()

11670

In [4]:
inv_part = pd.read_csv(DATASET_PATH + "/inventory_parts.csv")
#inv_part.head(10)
colors = pd.read_csv(DATASET_PATH + "/colors.csv")
colors.rename(columns = {'id':'color_id'}, inplace = True)

ip_c = inv_part.merge(colors, on='color_id', how='left')
ip_c.rename(columns = {'inventory_id':'id'}, inplace = True)
ip_c.shape
#inv_part_colors.head()

(580251, 8)

In [5]:
ip_c_i = ip_c.merge(inv, on='id', how='left')
ip_c_i.shape
#parts[pd.isna(parts['part_cat_id'])]

(580251, 10)

In [6]:
#part_cat = pd.read_csv(DATASET_PATH + "/part_categories.csv")
#part_cat.rename(columns = {'id':'part_cat_id'}, inplace = True)
#part_cat.head()

In [7]:
#parts_part_cat = parts.merge(part_cat, on='part_cat_id', how='outer')
# Junto parts con parts-categories
#parts_part_cat.shape

In [33]:
sets = pd.read_csv(DATASET_PATH + "/sets.csv")

themes = pd.read_csv(DATASET_PATH + "/themes.csv")
themes.rename(columns = {'id':'theme_id'}, inplace = True)

s_t = sets.merge(themes, on='theme_id', how='left')
s_t.rename(columns = {'name_x':'set_name','name_y':'theme_name'}, inplace = True)

s_t.set_num.nunique()

11673

In [9]:
#sets_themes.isna()

In [10]:
#inv_sets_themes['year'].isna().sum()

In [34]:
df =ip_c_i.merge(s_t, on='set_num', how='left')
#df.shape
df.set_num.nunique()

10713

In [12]:
# Cantidad de Nan

df.isna().sum()

id                 0
part_num           0
color_id           0
quantity           0
is_spare           0
name               0
rgb                0
is_trans           0
version            0
set_num            0
set_name           0
year               0
theme_id           0
num_parts          0
theme_name         0
parent_id     207693
dtype: int64

In [13]:
# Primeras filas

df.head()

,id,part_num,color_id,quantity,is_spare,name,rgb,is_trans,version,set_num,set_name,year,theme_id,num_parts,theme_name,parent_id
0,1,48379c01,72,1,f,Dark Bluish Gray,6C6E68,f,1,7922-1,McDonald's Sports Set Number 6 - Orange Vest S...,2004,460,4,Gravity Games,458.0
1,1,48395,7,1,f,Light Gray,9BA19D,f,1,7922-1,McDonald's Sports Set Number 6 - Orange Vest S...,2004,460,4,Gravity Games,458.0
2,1,mcsport6,25,1,f,Orange,FE8A18,f,1,7922-1,McDonald's Sports Set Number 6 - Orange Vest S...,2004,460,4,Gravity Games,458.0
3,1,paddle,0,1,f,Black,05131D,f,1,7922-1,McDonald's Sports Set Number 6 - Orange Vest S...,2004,460,4,Gravity Games,458.0
4,3,11816pr0005,78,1,f,Light Flesh,F6D7B3,f,1,3931-1,Emma's Splash Pool,2012,494,43,Friends,NaN

In [14]:
df.describe()

,id,color_id,quantity,version,year,theme_id,num_parts,parent_id
count,580251.000000,580251.000000,580251.000000,580251.000000,580251.000000,580251.000000,580251.000000,372558.000000
mean,8605.285444,78.472787,3.324730,1.001599,2005.695068,274.152367,506.805870,205.054547
std,4958.375522,622.238597,8.229816,0.043272,10.860828,190.329691,606.258946,168.480458
min,1.000000,-1.000000,1.000000,1.000000,1950.000000,1.000000,1.000000,1.000000
25%,4352.000000,1.000000,1.000000,1.000000,2000.000000,100.000000,134.000000,52.000000
50%,8635.000000,15.000000,2.000000,1.000000,2009.000000,236.000000,328.000000,158.000000
75%,12794.000000,71.000000,4.000000,1.000000,2014.000000,466.000000,665.000000,324.000000
max,18708.000000,9999.000000,1440.000000,5.000000,2017.000000,614.000000,5922.000000,580.000000

In [15]:
# Tipos de datos

df.dtypes

id              int64
part_num       object
color_id        int64
quantity        int64
is_spare       object
name           object
rgb            object
is_trans       object
version         int64
set_num        object
set_name       object
year            int64
theme_id        int64
num_parts       int64
theme_name     object
parent_id     float64
dtype: object

In [52]:
# Cantidad de sets por temática

out = df.groupby('theme_name')['set_name'].nunique()
out = out.reset_index()
#out.sort_values(by = 'set_name', inplace = True)
out
out_max = df['set_num'].max()
#theme_out_max = out[out.set_name.eq(out_max)]['theme_name']
out_max
#out.plot(kind = 'bar', figsize = (70,10))
#plt.title("Cantidad de sets por temática")
#plt.xlabel("Año")
#plt.ylabel("#")
#plt.show()

'vwkit-1'

In [37]:
# duda de sacar (theme_id), (color_id) y código de (set_num) por una posterior codificacion de variables categoricas 

df_drop = df.drop(['parent_id', 'theme_id', 'year', 'version', 'is_trans', 'is_spare',  'quantity',
                   'color_id',  'part_num',  'id'], axis = 'columns')
df_drop

,name,rgb,set_num,set_name,num_parts,theme_name
0,Dark Bluish Gray,6C6E68,7922-1,McDonald's Sports Set Number 6 - Orange Vest S...,4,Gravity Games
1,Light Gray,9BA19D,7922-1,McDonald's Sports Set Number 6 - Orange Vest S...,4,Gravity Games
2,Orange,FE8A18,7922-1,McDonald's Sports Set Number 6 - Orange Vest S...,4,Gravity Games
3,Black,05131D,7922-1,McDonald's Sports Set Number 6 - Orange Vest S...,4,Gravity Games
4,Light Flesh,F6D7B3,3931-1,Emma's Splash Pool,43,Friends
...,...,...,...,...,...,...
580246,Black,05131D,75090-2,Ezra's Speeder Bike,253,Star Wars Rebels
580247,Light Bluish Gray,A0A5A9,75090-2,Ezra's Speeder Bike,253,Star Wars Rebels
580248,White,FFFFFF,75090-2,Ezra's Speeder Bike,253,Star Wars Rebels
580249,Black,05131D,75090-2,Ezra's Speeder Bike,253,Star Wars Rebels
580250,Dark Bluish Gray,6C6E68,75090-2,Ezra's Speeder Bike,253,Star Wars Rebels

In [62]:
out = df_drop.groupby('theme_name')['set_num'].nunique()
out = out.reset_index()
#out.sort_values(by = 'set_name', inplace = True)
out
out_max = out['set_num'].max()
theme_out_max = out[out.set_num.eq(out_max)]['theme_name']
#out_max
#out
theme_out_max

316    Supplemental
Name: theme_name, dtype: object

In [68]:
#f.loc[df['a'] > 10, ['a’, 'c']]
tt=df_drop.loc[df_drop['theme_name'] == 'Supplemental', ['rgb', 'set_num']]
xx=tt.groupby('set_num')['rgb'].nunique()
xx = xx.reset_index()
xx.rgb.max()

41

In [31]:
#df.set_num.nunique()
sets_borrar = pd.read_csv(DATASET_PATH + "/sets.csv")
sets_borrar.head()

10713

In [32]:
sets_borrar.set_num.nunique()

11673

### Tratamiento de variables

In [21]:
df.loc[df.theme_name == 'Gravity Games'].rgb.value_counts()

FFFFFF    62
9BA19D    58
05131D    41
0055BF    41
C91A09    38
F2CD37    24
6D6E5C    19
237841    11
E4CD9E     7
5A93DB     5
583927     4
0A3463     4
FFA70B     3
958A73     2
84B68D     2
0020A0     2
CFE2F7     1
FCFCFC     1
6C6E68     1
9CA3A8     1
A0A5A9     1
A95500     1
FE8A18     1
BBE90B     1
Name: rgb, dtype: int64